@model Cart_Administration.Models.Employees
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    <link href="~/Style/LoginStyle.css" rel="stylesheet" />
}

@if (TempData["loginError"] != null)
{
    <div class="row" style="margin-top: 15px; margin-left: 28%">
        <div class="alert-info" style="padding: 10px; border-radius: 7px; width: 60%; text-align: center">@TempData["loginError"]</div>
    </div>
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-centered" style="margin-top:10%">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <img id="loginLogo" style="max-height:60px; max-width:60px; margin:15px 0;" src="~/Images/Register-icon.png" alt="alistirma" />
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <form class="form-horizontal" action="" method="post">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @style = "outline:0!important; box-shadow:none!important; min-width:100%", id = "userName", place_holder = "Username" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @style = "outline:0!important; box-shadow:none!important;min-width:100%", id = "password", place_holder = "Password", type = "password" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="has-success"><div class="checkbox"><label><input type="checkbox" id="remember" name="Remember" value="true" />Remember Me</label></div></div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-success btn-block" value="Sign In" style="min-width:100%" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<section id="slide-2" class="homeSlide">
    <div class="fh5co-counter-wrap">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center animate-box">
                <p>Hello, I'm Özgür. I decided to learn .NET programming after I worked for 4 years in a representative company of Japanese and Spanish machinery companies. I have attended several courses since the beginning of 2017 and started a job as software support specialist on March 2018. In this project, you can find a small cart application, similar to one used in e-commerce sites. Below are the numbers related with this project. By the way, login hint: Robert King</p>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 hsContent">
            <div class="col-md-3 text-center">
                <span class="fh5co-counter" data-from="0" data-to="92" data-speed="7000" data-refresh-interval="50">0</span>
                <span class="fh5co-counter-label">jQuery Code Line</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter" data-from="0" data-to="218" data-speed="7000" data-refresh-interval="50">0</span>
                <span class="fh5co-counter-label">HTML Code Line</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter" data-from="0" data-to="174" data-speed="7000" data-refresh-interval="50">0</span>
                <span class="fh5co-counter-label">CSS Code Line</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter" data-from="0" data-to="210" data-speed="7000" data-refresh-interval="50">0</span>
                <span class="fh5co-counter-label">C# Code Line</span>
            </div>
        </div>
    </div>
</section>

<div class="empty-div">

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.fh5co-counter').countTo();
    })
</script>